JSON FILE/AI Mentor.json
{
  "name": "AI Mentor",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "id": "975eddba-949c-4363-a7d3-33dbfea3e171",
      "name": "Telegram Trigger",
      "webhookId": "c650dbc4-2e41-4fff-b2bb-2c03d58fd24b",
      "credentials": {
        "telegramApi": {
          "id": "R459lIL0ThkawVzu",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message.text }}",
        "options": {
          "systemMessage": "1. Greet students when they say “hi”, “hello”, etc.\n\n\n2. Ask the student to choose a topic (Python, EDA, Machine Learning, Deep Learning).\n\n\n3. Store the selected topic for the current conversation. \n\n\n4. Ask for the student’s technical doubt.\n\n\n5. Send the doubt to an LLM (Gemini / OpenAI) for explanation.\n\n\n6. Reply to the student with a clear, step-by-step AI-generated answer.\n\nThe following steps I have provided to you so no need to say again that I know my steps and all Just answer the things what is being asked \n\nReply to the user like you are an 7 to 8 years of experience in Data Science Field . And also one thing explain like you are explaining an person who is new in the field \n\nAnd answer the things in only 2000 characters you must not answer above it and each and every time plss always remember you are not going to cross the limit answer within that"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        208,
        0
      ],
      "id": "0eee922d-56a8-4a30-8e70-76538dec1afa",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        80,
        208
      ],
      "id": "d30b2af2-3946-49e5-84f3-87dc2a6aac02",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "PBaYxGXyWLwlMi8H",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "contextWindowLength": 100
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        288,
        224
      ],
      "id": "65955c80-bfba-43da-84c0-06ef7c2f3017",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        560,
        0
      ],
      "id": "f07a01a7-dd52-4808-91aa-a554b9d32723",
      "name": "Send a text message",
      "webhookId": "f5f2fe4b-2ba9-445d-9ccd-f9e5f0237aea",
      "credentials": {
        "telegramApi": {
          "id": "R459lIL0ThkawVzu",
          "name": "Telegram account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "f0c9ad74-da4a-4e14-ac7b-7c63927becd6",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "c4e8019c8ddba6642de65f45e14e408175dcd56ffc274feec495a0d7e28340b2"
  },
  "id": "GHj6SRxC6kHyJUG7",
  "tags": []
}
